## Configurar el entorno virtual

pip install --upgrade pip
pip install palmerpenguins==0.1.4 numpy==1.23.4 pandas==1.5.1 seaborn==0.12.1 matplotlib==3.6.0 empiricaldist==0.6.7 statsmodels==0.13.5 scikit-learn==1.1.2 pyjanitor==0.23.1 session-info

In [1]:
import pandas as pd

In [2]:
ranking_csv = r'C:\Users\alexa\OneDrive\Escritorio\Bases_Data\Super_Compañias\bi_ranking.csv'
raw_ranking = pd.read_csv(ranking_csv)

C:\Users\alexa\AppData\Local\Temp\ipykernel_5772\3424897271.py:2: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_ranking = pd.read_csv(ranking_csv)

In [3]:
raw_ranking.head()

,anio,expediente,posicion_general,cia_imvalores,id_estado_financiero,ingresos_ventas,activos,patrimonio,utilidad_an_imp,impuesto_renta,...,roa,fortaleza_patrimonial,gastos_financieros,gastos_admin_ventas,depreciaciones,amortizaciones,costos_ventas_prod,deuda_total,deuda_total_c_plazo,total_gastos
0,2008,1,25463.0,0,16.0,0.000000e+00,1.386558e+05,63242.19,0.00,18563.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,2,26.0,0,33.0,2.808959e+08,2.225880e+08,80289210.56,17629196.77,4980263.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,3,784.0,0,50.0,1.564886e+07,1.368537e+07,5597302.36,912111.72,269188.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,6,16538.0,0,67.0,0.000000e+00,6.248392e+05,-73907.76,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,11,410.0,0,89.0,4.968394e+07,2.397747e+06,-1122362.23,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
raw_ranking

,anio,expediente,posicion_general,cia_imvalores,id_estado_financiero,ingresos_ventas,activos,patrimonio,utilidad_an_imp,impuesto_renta,...,roa,fortaleza_patrimonial,gastos_financieros,gastos_admin_ventas,depreciaciones,amortizaciones,costos_ventas_prod,deuda_total,deuda_total_c_plazo,total_gastos
0,2008,1,25463.0,0,16.0,0.000000e+00,1.386558e+05,63242.19,0.00,18563.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,2,26.0,0,33.0,2.808959e+08,2.225880e+08,80289210.56,17629196.77,4980263.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,3,784.0,0,50.0,1.564886e+07,1.368537e+07,5597302.36,912111.72,269188.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,6,16538.0,0,67.0,0.000000e+00,6.248392e+05,-73907.76,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,11,410.0,0,89.0,4.968394e+07,2.397747e+06,-1122362.23,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1464369,2008,234,NaN,0,NaN,0.000000e+00,0.000000e+00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1464370,2009,125104,NaN,0,NaN,0.000000e+00,0.000000e+00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1464371,2008,70824,NaN,0,NaN,0.000000e+00,0.000000e+00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1464372,2008,46585,NaN,0,NaN,0.000000e+00,0.000000e+00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1464373,2023,349119,NaN,0,NaN,0.000000e+00,0.000000e+00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN